{
  "semi": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "useTabs": false,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    { "files": "*.astro", "options": { "parser": "astro" } },
    { "files": "*.svelte", "options": { "parser": "svelte" } }
  ]
}
