---
import Layout from '@lib/layouts/Layout.astro';

Astro.response.status = 404;
---

<Layout title="404'd">
  <p class="mt-4">
    <span>what are you doing here</span><br />
    <span>there&apos;s nothing for you here</span>
  </p>
</Layout>
