---
import Layout from '@lib/layouts/Layout.astro';
import RicePfp from '@lib/assets/rice_pfp.png';
---

<Layout title="ricedev.me">
  <header class="window relative mt-4">
    <p class="absolute right-4 bottom-4 text-sm">made with {Astro.generator} 🔥</p>

    <div class="window-titlebar">
      <h1>uheeeeeeeeeeeeeeeeeeeee~~~</h1>
    </div>

    <div class="flex gap-16 p-16">
      <img src={RicePfp.src} alt="my profile picture" class="size-64 rounded-full" />
      <div>
        <h1 class="text-ctp-blue font-bold">rice-cracker-dev@ricedev.me</h1>
        <hr class="border-ctp-text my-2" />
        <p>
          web dev, i also rice stuff.<br />
          i use nixos btw
        </p>
        <p class="text-ctp-yellow">!! this site is under construction !!</p>
      </div>
    </div>
  </header>
</Layout>
