---
const currentPath = Astro.url.pathname;
const path = '~/ricedev.me' + (currentPath === '/' ? '' : currentPath);
---

<header class="mt-16">
  <nav class="flex items-center justify-end gap-4">
    <h1 class="hidden flex-1 sm:inline">cat {path}</h1>

    <div class="mx-auto flex items-center gap-4 sm:mx-0">
      <a href="/" class="anchor">home</a>
      <a href="/blogs" class="anchor">blogs</a>
      <a href="https://github.com/rice-cracker-dev" class="anchor">github</a>
    </div>
  </nav>
</header>
